:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  /* --color-dark--1: #2d3439; */
  --color-dark--1: #262b30;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  color: var(--color-light--2);
  background-color: #fff;
  padding: 2.5rem;

  display: flex;
  /* flex-direction: column; */
  position: relative;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  padding: 3rem 5rem 4rem 5rem;
  background-color: var(--color-dark--1);
}
.sidebar__button {
  font-size: 1.4rem;
  border-radius: 2rem;
  /* padding: 0.5rem 1rem; */
  padding: 4px 10px;

  color: #fff;
  background-color: red;

  outline: none;
  cursor: pointer;
  align-self: flex-start;
  border: 1px solid;
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
.workouts__title--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  max-width: 40rem;
}
.workouts__btn {
  background-color: var(--color-dark--2);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  color: var(--color-light--2);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
}
.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 40rem;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  max-width: 40rem;
}
.message {
  opacity: 1;
  height: 4.25rem;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.48rem;
  text-align: center;
  transition: all 0.4s;
  padding: 1rem 0.2rem;
  background-color: var(--color-dark--2);
  margin-bottom: 1.8rem;
}

.workouts__message--hidden {
  opacity: 0;
  padding: 0;
  height: 2rem;
}
.workouts__message-error {
  display: block;
  height: 6.25rem;
  background-color: #7d0d0d46;
}
.error-message {
  height: auto;
}
.error-message span {
  font-size: 1.2rem;
  font-weight: 200;
  color: #aaa;
}
.error-message--hidden {
  display: none;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}
/* workout close icon */
.workout__icon--closeWorkout {
  position: absolute;
  right: 6px;
  top: 4px;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  position: relative;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  /* padding: 1.5rem 2.75rem; */
  padding: 1.6rem 2.8rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}
.icon__close {
  cursor: pointer;
  font-size: 2rem;

  position: absolute;
  right: 6px;
  top: 4px;
}
/* form close icon */

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* weather */
.weather {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1111;
}
.card {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  background-color: #fff;
}

.sun__img {
  align-self: center;
  width: 30px;
  height: 30px;
}

.temp__location {
  color: var(--color-dark--1);
  align-self: center;
}
.temp {
  font-size: 2rem;
}
